.serviceDirectory {
    margin: 0 15px 0 11px;
}

.serviceDirectoryHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
}

.serviceDirectoryTitle {
    font-weight: normal;
    margin: 0;
    font-size: 30px;
    color: #1c2534;
}

button.addNewService {
    margin-right: 2px;
    margin-top: -1px;
    width: 145px;
    height: 30px;
}

.serviceDirectoryContent {
    border: 1px solid #dbdee3;
    border-radius: 5px;
    margin: 19px 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 14px;
}

.serviceItem {
    width: 140px;
}

.serviceItem:hover .topBlock, .serviceItem:hover .serviceName {
    background: #f4f7fb;
    color: #71973c;
    cursor: pointer;
}

.topBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 138px;
    border: 1px solid #dbdee3;
}

.topBlock img {
    width: 118px;
}

p.serviceName {
    text-align: center;
    font-size: 13.61px;
    margin-top: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #1c2534;
}