.contactUs {
    width:100%;
}

.headTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:37px;
}

.headTop .logo {
    width: 122px;
    margin-left: 10px;
}

.buttonLogIn {
    width: 103px;
    height: 28px;
    font-size: 14px;
}

.headBottom {
    text-align: center;
    margin-top: 62px;
    color: #f3f4f6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: proximaNovaLight;
}

.title {
    font-size: 45px;
    font-weight: normal;
    margin: 0;
    width: 100%;
}

p.titleDescription {
    width: 470px;
    letter-spacing: 0.3px;
    line-height: 28px;
    font-size: 18px;
    margin: 11px 0;
}

.contactUsFormBlock {
    display: flex;
    justify-content: center;
    padding-bottom: 93px;
}

.backgrounds {
    position:absolute;
    z-index: -100;
    width: 100%;
    background: url(../../images/backgroundBottom.png);
    background-repeat: repeat;
    background-size: contain;
}

.background{
    width: 100%;
}
