.suggestion {
    margin: 20px 0 23px 0;
}

.sugHead {
    display: flex;
    justify-content: space-between;
}

.sugHead h5 {
    margin: 0;
    font-weight: normal;
    color: #7c8695;
    font-size:14px;
}

.seeAllLink {
    text-decoration: none;
    font-size: 14px;
    margin-right: 2px;
    color: #1c2534;
}

.sugItem {
    display: flex;
    flex-wrap: wrap;
    margin: 14px 0 18px 0;
    height: 82px;
}

.sugItemType1 {
    height: 103px;
}

.sugItem .titleType1 {
    width: 100%;
    margin: 0 0 4px 0;
    font-weight: bold;
}

.sugItemTitle {
    color: #1c2534;
}

.sugItem img {
    margin-top: 2px;
    max-width: 80px;
}

.sugItemData {
    padding-left: 8px;
    width: calc(98% - 80px);
    box-sizing: border-box;
    line-height: 18px;
}

.sugItemData h4 {
    margin: 0;
    font-weight: normal;
    margin-bottom:3px;
}

.sugItemDescription {
    font-size: 14px;
    margin: 0 0 3px 0;
    color: #7c8695;
}

.itemHandler {
    font-size: 13px;
    letter-spacing: -0.5px;
    margin: -2px 0 0 1px;
    color: #1c2534;
}