.servicePageContent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.sidebar {
    width: 214px;
}

.services {
    width: 38%;
}

.divider {
    border-bottom: 1px solid #e0e2e6;
    margin-top: 18px;
}

.productsFirstDescription, .productsSecondDescription {
    margin: 0;
    line-height: 17px;
}

.addFriend {
    letter-spacing: 0px;
    font-size: 12px;
}

.copyright, .bottomLinks a {
    text-decoration: none;
    color: #b7bfcd;
    font-size:12px;
    margin-top: 15px;
}

.termOfUse {
    margin-right: 20px;
}