.inputsBlock {
    width: 711px;
    margin-top: 87px;
    box-sizing: border-box;
    padding: 17px;
    border-radius: 3px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formRule {
    margin: 0;
    font-size: 15px;
    margin-bottom: 15px;
}

.formRow {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.halfWidth {
    width: 48%;
}

.inputsBlock label {
    font-size: 15px;
}

.inputStyle {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: proximaNovaRegular;
    outline: none;
    border: 1px solid #c8cdd5;
    border-radius: 3px;
    margin-top: 7px;
}

.field {
    width: 100%;
}

.selectStyle {
    padding: 14px;
}

#otherEnquiryType {
    margin-top: 19px;
}

textarea#description {
    height: 142px;
}

.loadPhotoLabel {
    border: 1px solid #c8cdd5;
    background: #f7f7f7;
    width: 122px;
    height: 122px;
    border-radius: 3px;
    margin-top: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    color: #7c8695;
}

.loadPhotoLabel .addPhotoRules {
    font-size: 11px;
    text-align: center;
    width: 100px;
    line-height: 13px;
    display: block;
    margin-top: 5px;
    color: #c2c2c4;
}

.photoError {
    color: #fb6363;
    text-align: center;
    width: 100px;
    font-size: 12px;
}

.loadedImage {
    max-width: 120px;
    max-height: 120px;
    position:absolute;
    z-index: 9;
    border-radius: 3px;
}

.deleteImage {
    position: absolute;
    right: -12px;
    top: -12px;
    z-index: 10;
}

input#photo {
    display: none;
}

.submitForm {
    margin-top: 20px;
    border-radius: 3px;
    width: 100%;
    height: 49px;
    font-size: 15px;
}

.inputError {
    color: #fb6363;
    font-size: 12px;
    height: 12px;
    display: block;
    margin-top: 3px;
}

.errorField {
    border-color: #fb6363;
}

