.about {
    border-top: 1px solid #ddd;
    font-family: proximaNovaLight;
    padding-bottom: 85px;
    background: #fff;
}

.aboutTitle {
    font-weight: normal;
    margin-top: 89px;
    text-align: center;
    font-size: 28px;
}

.aboutDenteez {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutText {
    width: 600px;
    margin-top: 17px;
    font-size: 15px;
    box-sizing: border-box;
    line-height: 23px;
}

.aboutText:first-child {
    padding-right:38px;
}

.aboutText:nth-child(2) {
    padding-left: 38px;
}