.leftMenu {
    list-style: none;
}

.leftMenu li {
    padding: 14px 0 12px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e2e6;
    box-sizing: border-box;
}

.menuIcon {
    margin-right: 25px;
    width: 24px;
    display: flex;
    justify-content: center;
}