.navbar {
    background: #87b448;
    height: 68px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #71973c;
    box-sizing: border-box;
}

.searchBar {
    width: calc(37% - 4px);
    padding: 0 30px;
    box-sizing: border-box;
}

.rightBar {
    display: flex;
    align-items: center;
    width: 315px;
}

.notificationLogo {
    margin-left: 20px;
}

.loggedUser {
    margin-left: 31px;
    display: flex;
    align-items: center;
}

.userName {
    margin-left: 10px;
    color: #fefefe;
}

.searchField {
    width: 100%;
    padding: 8px 0 8px 39px;
    letter-spacing: 0.7px;
    background: #73993d;
    border-radius: 3px;
    border: none;
    background-image: url('../../images/Search.png');
    background-position: 10px center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    color: #fff;
}

.searchField::placeholder {
    color: #fff;
}
