.footer {
    padding: 15px 75px;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.copyright {
    font-size: 12px;
    letter-spacing: -0.4px;
}

.bottomLinks {
    margin-right: 3px;
    letter-spacing: -0.2px;
}

.bottomLinks a {
    margin-left: 20px;
}