.modalBlock {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: showModal;
    animation-duration: 1s;
}

.modalBlockHiddenAnimation {
    animation-name: hideModal;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.modalBlockHidden {
    display: none;
}

@keyframes showModal {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes hideModal {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}

.modalWindow {
    width: 400px;
    background: #ddd;
}
.modalWindowDanger {
    background: #e0682e;
}

.modalHeader {
    background: #87b448;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#fefefe;
}

.modalTitle {
    margin: 0;
    font-weight: normal;
    letter-spacing:0.2px
}

.closeModal {
    font-size: 12px;
    letter-spacing:0.1px;
    cursor: pointer;
}

.modalContent {
    padding: 10px;
    font-size: 14px;
    letter-spacing: 0.3px;
}

.modalText {
    margin: 0;
}

.modalAction {
    background: #87b448;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:#fefefe;
}

button.modalButton {
    border: none;
    background: #ddd;
    outline: none;
    padding: 5px 20px;
    border-radius: 5px;
}