@font-face {
  font-family: proximaNovaRegular;
  src: url(./fonts/proximanova-regular.otf);
}

@font-face {
  font-family: proximaNovaLight;
  src: url(./fonts/proximanova-light.otf);
}

body {
  margin: 0;
  padding: 0;
  font-family: proximaNovaRegular, sans-serif;
}

